body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    color: #140b8d;
}
.emoji-list {
    list-style: none;
    padding: 0;
}
.emoji-list li {
    font-size: 25px;
    margin: 18px 0;
    position: relative; /* Necesario para ::before */
}
.emoji-list li::before {
    content: "😻 "; /* Inserta el emoji antes del texto del elemento */
    font-size: 24px;
    margin-right: 10px; /* Espacio entre el emoji y el texto */
}