@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-crtFlash {
    animation: crt 0.2s ease-in-out infinite alternate;
  }

  @keyframes crt {
    0% { transform: scaleX(1.01) scaleY(0.98); opacity: 0.9; }
    100% { transform: scaleX(0.99) scaleY(1.02); opacity: 1; }
  }
}
